@keyframes fade-in-animation {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.fade-in {
    animation: fade-in-animation 2s forwards
}

@font-face {
    font-family: 'Coliseum Pro';
    src: url("../assets/fonts/ColiseumPro-Book.woff2") format("woff2"), url("../../assets/fonts/ColiseumPro-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Horizontes Script';
    src: url("../assets/fonts/HorizontesScript-Bold.woff2") format("woff2"), url("../../assets/fonts/HorizontesScript-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Neutra Text';
    src: url("../assets/fonts/NeutraText-Bold.woff2") format("woff2"), url("../../assets/fonts/NeutraText-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Neutra Text';
    src: url("../assets/fonts/NeutraText-Book.woff2") format("woff2"), url("../../assets/fonts/NeutraText-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Neutra Text';
    src: url("../assets/fonts/NeutraText-BookItalic.woff2") format("woff2"), url("../../assets/fonts/NeutraText-BookItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'tsm-icons';
    src: url("../assets/fonts/tsm-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block
}

h1,
h2,
h3,
h4,
.page-article .article-body h3,
h5,
h6 {
    color: #882335;
    font-weight: normal
}

h1 {
    font-family: "Coliseum Pro", Arial Narrow;
    text-transform: uppercase
}

h2 {
    font-family: "Coliseum Pro", Arial Narrow;
    text-transform: uppercase;
    font-size: 2.25rem;
    line-height: .95
}

@media (min-width: 20rem) and (max-width: 75rem) {
    h2 {
        font-size: calc(2.25rem + (3.5 - 2.25) * ((100vw - 20rem) / (75 - 20)))
    }
}

@media (min-width: 75rem) {
    h2 {
        font-size: 3.5rem
    }
}

h2:after {
    content: '';
    background: url("../assets/img/elements/filigree.svg") no-repeat;
    background-size: contain;
    width: 8rem;
    height: 1.25rem;
    display: block;
    margin-top: -.25rem
}

h3 {
    font-family: "Coliseum Pro", Arial Narrow;
    text-transform: uppercase;
    font-size: 2.15rem
}

@media (min-width: 20rem) and (max-width: 75rem) {
    h3 {
        font-size: calc(2.15rem + (2.75 - 2.15) * ((100vw - 20rem) / (75 - 20)))
    }
}

@media (min-width: 75rem) {
    h3 {
        font-size: 2.75rem
    }
}

h4,
.page-article .article-body h3 {
    font-family: "Neutra Text", Helvetica, Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.25rem
}

@media (min-width: 20rem) and (max-width: 75rem) {

    h4,
    .page-article .article-body h3 {
        font-size: calc(1.25rem + (2 - 1.25) * ((100vw - 20rem) / (75 - 20)))
    }
}

@media (min-width: 75rem) {

    h4,
    .page-article .article-body h3 {
        font-size: 2rem
    }
}

h5 {
    font-family: "Neutra Text", Helvetica, Arial, Verdana, sans-serif;
    font-size: 1.35rem
}

h6 {
    font-family: "Neutra Text", Helvetica, Arial, Verdana, sans-serif;
    color: #000
}

p {
    margin: 1rem 0
}

p:last-of-type {
    margin-bottom: 0
}

a {
    color: #882335;
    text-decoration: underline
}

a:hover,
a:focus {
    text-decoration: none;
    color: #6d2439
}

.callout-link {
    font-family: "Neutra Text", Helvetica, Arial, Verdana, sans-serif;
    font-weight: bold;
    color: #882335;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    display: block;
    text-align: center;
    margin-bottom: 1rem
}

.callout-link:after {
    content: "";
    font-family: "tsm-icons";
    font-size: 1rem;
    display: inline-block;
    margin-left: .25rem;
    text-decoration: none
}

blockquote {
    position: relative;
    padding-left: 2.5rem;
    max-width: 25rem;
    margin: 2.5rem auto 2rem
}

blockquote .quote-text {
    color: #882335;
    font-family: "Coliseum Pro", Arial Narrow;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.25
}

@media (min-width: 20rem) and (max-width: 75rem) {
    blockquote .quote-text {
        font-size: calc(1.5rem + (2 - 1.5) * ((100vw - 20rem) / (75 - 20)))
    }
}

@media (min-width: 75rem) {
    blockquote .quote-text {
        font-size: 2rem
    }
}

blockquote .quote-author {
    font-family: "Horizontes Script";
    font-size: 1.5rem;
    margin-bottom: 0
}

blockquote:before {
    content: '\201C';
    font-family: "Coliseum Pro", Arial Narrow;
    font-size: 7rem;
    color: #882335;
    position: absolute;
    top: -2rem;
    left: 0rem
}

.button-container-primary {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 1rem
}

.button-container-primary:before,
.button-container-primary:after {
    content: '';
    position: absolute;
    background: url("../assets/img/elements/button-red-end.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 1rem;
    top: 0;
    bottom: 0
}

.button-container-primary:before {
    left: 0;
    transform: scaleX(-1)
}

.button-container-primary:after {
    right: 0
}

@media (min-width: 37.5rem) {
    .button-container-primary {
        display: inline-block;
        width: auto
    }
}

.button-container-primary .button-primary {
    display: block;
    width: 100%;
    background: url("../assets/img/elements/button-red-bg.svg");
    background-size: calc(100% - 1.5rem) 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: .75rem 1rem .5rem;
    border: 0;
    color: #C0BA81;
    font-family: "Coliseum Pro", Arial Narrow;
    font-size: 1.5rem;
    line-height: 1;
    text-decoration: none;
    position: relative
}

.button-container-primary .button-primary:after {
    content: "";
    font-family: "tsm-icons";
    display: inline;
    font-size: 1.25rem;
    color: #B29759;
    margin-left: .25rem
}

@media (min-width: 37.5rem) {
    .button-container-primary .button-primary {
        display: inline-block;
        width: auto
    }
}

.button-container-primary:hover:before,
.button-container-primary:hover:after,
.button-container-primary:focus:before,
.button-container-primary:focus:after,
.button-container-primary:focus-within:before,
.button-container-primary:focus-within:after {
    background: url("../assets/img/elements/button-red-end-hover.svg");
    background-size: 100% 100%;
    bacgkround-repeat: no-repeat
}

.button-container-primary:hover .button-primary,
.button-container-primary:focus .button-primary,
.button-container-primary:focus-within .button-primary {
    background: url("../assets/img/elements/button-red-bg-hover.svg");
    background-size: calc(100% - 1.5rem) 100%;
    background-repeat: no-repeat;
    background-position: center
}

.button-container-gold {
    width: 100%;
    display: block;
    position: relative
}

.button-container-gold:before,
.button-container-gold:after {
    content: '';
    position: absolute;
    background: url("../assets/img/elements/button-gold-end.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 1rem;
    top: 0;
    bottom: 0
}

.button-container-gold:before {
    left: 0;
    transform: scaleX(-1)
}

.button-container-gold:after {
    right: 0
}

@media (min-width: 37.5rem) {
    .button-container-gold {
        display: inline-block;
        width: auto
    }
}

.button-container-gold:hover:before,
.button-container-gold:hover:after,
.button-container-gold:focus:before,
.button-container-gold:focus:after,
.button-container-gold:focus-within:before,
.button-container-gold:focus-within:after {
    background: url("../assets/img/elements/button-gold-end-hover.svg");
    background-size: 100% 100%;
    bacgkround-repeat: no-repeat
}

.button-container-gold:hover .button-gold,
.button-container-gold:focus .button-gold,
.button-container-gold:focus-within .button-gold {
    background: url("../assets/img/elements/button-gold-bg-hover.svg");
    background-size: calc(100% - 1.5rem) 100%;
    background-repeat: no-repeat;
    background-position: center
}

.button-container-gold .button-gold {
    display: block;
    width: 100%;
    background: url("../assets/img/elements/button-gold-bg.svg");
    background-size: calc(100% - 1.5rem) 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: .75rem 1rem .5rem;
    border: 0;
    color: #882335;
    font-family: "Coliseum Pro", Arial Narrow;
    font-size: 1.5rem;
    line-height: 1;
    text-decoration: none;
    position: relative
}

.button-container-gold .button-gold:after {
    content: "";
    font-family: "tsm-icons";
    display: inline;
    font-size: 1.25rem;
    color: #882335;
    margin-left: .25rem
}

@media (min-width: 37.5rem) {
    .button-container-gold .button-gold {
        display: inline-block;
        width: auto
    }
}

input[type="text"],
input[type="email"] {
    border: none;
    border-radius: 0;
    background: #dbd7d5;
    padding: .25rem;
    transition: all .5s;
    width: 100%;
    display: block;
    color: #000;
    font-family: "Neutra Text", Helvetica, Arial, Verdana, sans-serif
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus {
    background: #F6EAD0;
    box-shadow: inset 0 -3px 0 0 #B29759;
    outline: 0
}

@media (min-width: 37.5rem) {

    input[type="text"],
    input[type="email"] {
        display: inline-block
    }
}

body {
    background: #F6EAD0;
    font-family: "Neutra Text", Helvetica, Arial, Verdana, sans-serif
}

.page-header {
    position: relative;
    z-index: 50;
    text-align: center
}

.page-header .link-home {
    display: inline-block
}

.page-header .logo {
    background: url("../assets/img/elements/TSM-logo-gold.svg") center no-repeat;
    background-size: contain;
    width: 9rem;
    height: 4rem;
    text-indent: -999rem;
    margin: 0;
    display: inline-block
}

.page-header .page-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center
}

.page-header .page-nav ul li {
    margin-right: 1rem
}

.page-header .page-nav ul li:last-of-type {
    margin-right: 0
}

.page-header .page-nav ul li a {
    text-transform: uppercase;
    color: #882335;
    font-family: "Coliseum Pro", Arial Narrow;
    font-size: 1.4rem;
    transition: all .35s;
    display: block;
    padding: .5rem;
    text-decoration: none
}

.page-header .page-nav ul li a:hover,
.page-header .page-nav ul li a:focus {
    color: #6d2439;
    text-decoration: underline
}

.page-header .page-nav ul li .expressions-dropdown {
    position: relative;
    display: inline-block
}

.page-header .page-nav ul li .expressions-dropdown .dropdown-link:after {
    transition: all .35s;
    content: "";
    font-family: "tsm-icons";
    display: inline-block;
    margin-left: .5rem;
    font-size: 0.9rem;
    vertical-align: middle;
    margin-bottom: .1rem
}

.page-header .page-nav ul li .expressions-dropdown .expressions-links {
    display: none;
    position: absolute;
    z-index: 1;
    width: 13rem;
    left: .5rem;
    background: #882335;
    text-align: left
}

.page-header .page-nav ul li .expressions-dropdown .expressions-links a {
    color: #fff;
    padding: .5rem .5rem .2rem 2rem;
    text-decoration: none;
    position: relative
}

.page-header .page-nav ul li .expressions-dropdown .expressions-links a:hover,
.page-header .page-nav ul li .expressions-dropdown .expressions-links a:focus {
    background: #6d2439
}

.page-header .page-nav ul li .expressions-dropdown .expressions-links a:hover:before,
.page-header .page-nav ul li .expressions-dropdown .expressions-links a:focus:before {
    content: "";
    font-family: "tsm-icons";
    color: #C0BA81;
    font-size: 1rem;
    position: absolute;
    left: .5rem;
    top: .65rem
}

.page-header .page-nav ul li .expressions-dropdown .expressions-links .current {
    background: #471725;
    cursor: default;
    position: relative
}

.page-header .page-nav ul li .expressions-dropdown .expressions-links .current:before {
    content: "";
    font-family: "tsm-icons";
    color: #C0BA81;
    font-size: 1rem;
    position: absolute;
    left: .5rem;
    top: .65rem
}

.page-header .page-nav ul li .expressions-dropdown .expressions-links .current:hover,
.page-header .page-nav ul li .expressions-dropdown .expressions-links .current:focus {
    background: #471725
}

.page-header .page-nav ul li .expressions-dropdown:hover .dropdown-link,
.page-header .page-nav ul li .expressions-dropdown:focus-within .dropdown-link {
    text-decoration: underline
}

.page-header .page-nav ul li .expressions-dropdown:hover .dropdown-link:after,
.page-header .page-nav ul li .expressions-dropdown:focus-within .dropdown-link:after {
    text-decoration: none;
    transform: rotate(180deg)
}

.page-header .page-nav ul li .expressions-dropdown:hover .expressions-links,
.page-header .page-nav ul li .expressions-dropdown:focus-within .expressions-links {
    display: block
}

@media (min-width: 36rem) {
    .page-header {
        text-align: left
    }

    .page-header .logo {
        margin: 0
    }

    .page-header .page-nav ul {
        justify-content: flex-end
    }
}

@media (min-width: 62rem) {
    .page-header {
        width: 90%
    }
}

.page-footer {
    background: url(../assets/img/photos/footer-texture-m.jpg), #000;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 4px solid #B29759;
    position: relative
}

.page-footer:before {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #B29759;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0
}

.page-footer .email-capture {
    background: #882335;
    position: relative;
    padding: 1rem 1rem 2rem;
    color: #C0BA81;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
    max-width: 31.25rem
}

.page-footer .email-capture h4,
.page-footer .email-capture .page-article .article-body h3,
.page-article .article-body .page-footer .email-capture h3 {
    font-family: "Horizontes Script";
    font-size: 1.75rem;
    color: #B29759
}

.page-footer .email-capture .email-form .email-label {
    display: block;
    font-weight: bold;
    font-size: 1.1rem
}

.page-footer .email-capture .button-container-gold {
    margin-top: .5rem
}

.page-footer .email-capture:after {
    bottom: -2rem;
    background-position: left bottom;
    background: linear-gradient(-135deg, #882335 1rem, transparent 0), linear-gradient(135deg, #882335 1rem, transparent 0);
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2rem;
    background-repeat: repeat-x;
    background-size: 2rem 2rem
}

.page-footer .footer-nav ul {
    padding: 0;
    list-style-type: none
}

.page-footer .footer-nav ul li a {
    color: #B29759;
    font-family: "Coliseum Pro", Arial Narrow;
    text-decoration: none;
    font-size: 1.15rem;
    padding: .5rem .5rem .5rem 0
}

.page-footer .footer-nav ul li a:focus,
.page-footer .footer-nav ul li a:hover {
    text-decoration: underline;
    color: #C0BA81
}

.page-footer .footer-nav ul:before {
    content: '';
    background: url("../assets/img/elements/horse-gold.svg") no-repeat;
    background-size: contain;
    width: 5rem;
    height: 5rem;
    display: block;
    margin-bottom: .5rem
}

.page-footer address {
    color: #B29759;
    font-family: "Coliseum Pro", Arial Narrow;
    font-size: 1.2rem;
    margin-bottom: 1.5rem
}

.page-footer .footer-logo {
    width: 7rem;
    height: 6rem
}

@media (min-width: 37.5rem) {
    .page-footer {
        background: url(../assets/img/photos/footer-texture.jpg), #000;
        background-repeat: no-repeat;
        background-size: cover
    }

    .page-footer .email-capture .button-container-gold {
        width: 100%;
        display: block
    }

    .page-footer .email-capture .button-container-gold .button-gold {
        width: 100%;
        display: block
    }

    .page-footer .footer-info-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 75rem
    }

    .page-footer .footer-nav ul {
        padding-left: 9rem;
        position: relative
    }

    .page-footer .footer-nav ul:before {
        position: absolute;
        left: 0rem;
        top: .5rem;
        margin-bottom: 0;
        width: 8rem;
        height: 8rem
    }

    .page-footer .footer-nav ul li a {
        padding: .5rem
    }

    .page-footer address {
        padding-left: 9.5rem
    }

    .page-footer .footer-logo {
        width: 9rem;
        height: 8rem
    }
}

@media (min-width: 43.75rem) {
    .page-footer .email-capture {
        text-align: left;
        max-width: 56.25rem;
        padding: 1.5rem 1.5rem 2rem
    }

    .page-footer .email-capture .email-form {
        display: flex;
        align-items: center
    }

    .page-footer .email-capture .email-form .email-headers {
        margin-right: 1rem
    }

    .page-footer .email-capture .email-form .email-label {
        margin-bottom: 0
    }

    .page-footer .email-capture .email-form .email-field {
        width: auto;
        flex-grow: 2;
        margin-right: 1rem
    }

    .page-footer .email-capture .button-container-gold {
        margin-top: 0;
        width: auto;
        display: inline-block
    }

    .page-footer .email-capture .button-container-gold .button-gold {
        width: auto;
        display: inline-block
    }
}

@media (min-width: 68.75rem) {
    .page-footer {
        background: url(../assets/img/photos/footer-texture-2x.jpg), #000;
        background-repeat: no-repeat;
        background-size: cover
    }
}

.content-wrapper {
    max-width: 31.25rem;
    margin: auto
}

@media (min-width: 62rem) {
    .content-wrapper {
        margin: 0
    }
}

.button-container div {
    margin-bottom: .5rem
}

.button-container div:last-of-type {
    margin-bottom: 0;
    margin-top: 0
}

@media (min-width: 37.5rem) {
    .button-container div {
        margin-bottom: 0;
        margin-right: .5rem
    }

    .button-container div:last-of-type {
        margin-right: 0
    }
}

.gold-border {
    border-bottom: 4px solid #B29759;
    border-top: 1px solid #B29759;
    height: 8px;
    display: block;
    width: 100%;
    margin: 2rem 0;
    position: relative
}

.gold-border:before,
.gold-border:after {
    content: '';
    background: url("../assets/img/elements/terminal-gold.svg") no-repeat;
    background-size: contain;
    width: .9rem;
    height: .9rem;
    display: block;
    position: absolute;
    top: -4px;
    left: -1px
}

.gold-border:after {
    left: auto;
    right: -1px;
    transform: scaleX(-1)
}

.header-border {
    display: flex;
    align-items: center;
    margin-bottom: 2rem
}

.header-border h4,
.header-border .page-article .article-body h3,
.page-article .article-body .header-border h3 {
    margin-bottom: 0;
    margin-right: 1rem
}

.header-border .gold-border {
    width: auto;
    flex-grow: 1;
    margin: 0
}

.date {
    font-size: 1.25rem;
    margin-top: 0
}

.article-body .contact-info-container {
    margin-bottom: 1rem
}

.article-body .contact-info-container .contact-header {
    margin-bottom: .25rem
}

.article-body .contact-info-container .contact-info {
    margin-top: 0
}

@media (min-width: 25rem) {
    .article-body .contact-info-container {
        display: flex
    }

    .article-body .contact-info-container .contact-header {
        margin-right: 1rem
    }

    .article-body .contact-info-container .contact-info {
        margin-top: 1rem
    }
}

.red-gold-text-container {
    background: url("../assets/img/elements/red-gold-box.svg") no-repeat;
    background-size: contain;
    max-width: 22rem;
    padding: 3rem 2rem;
    color: #C0BA81;
    margin: auto
}

.red-gold-text-container h2 {
    color: #C0BA81
}

.press-release {
    text-align: center
}

.press-release .article-content {
    text-align: left
}

.press-release .article-content h5 {
    margin-bottom: 0
}

.press-release img {
    max-width: 10rem;
    margin-bottom: 1rem;
    width: 100%
}

@media (min-width: 37.5rem) {
    .press-release {
        text-align: left
    }
}

@media (min-width: 48rem) {
    .press-release {
        display: flex;
        align-items: center
    }

    .press-release .article-content {
        width: 80%
    }

    .press-release .img-container {
        width: 20%;
        margin-right: 2rem;
        text-align: center
    }
}

.bottle-nav {
    position: relative
}

.bottle-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center
}

.bottle-nav ul li {
    width: 7rem
}

.bottle-nav ul li:first-of-type {
    margin-right: 2.5rem
}

.bottle-nav ul li a {
    color: #000;
    font-family: "Coliseum Pro", Arial Narrow;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.75rem 0rem .5rem 1rem;
    display: block;
    width: 100%;
    position: relative;
    transition: all .25s
}

.bottle-nav ul li a:hover,
.bottle-nav ul li a:focus {
    color: #882335
}

.bottle-nav ul li a:hover:before,
.bottle-nav ul li a:focus:before {
    background: url("../assets/img/elements/nav-arrow-hover.svg") no-repeat;
    background-size: 120%;
    transform: scale(1.1)
}

.bottle-nav ul li .previous-arrow:before,
.bottle-nav ul li .next-arrow:before {
    content: '';
    background: url("../assets/img/elements/nav-arrow.svg") no-repeat;
    background-size: 120%;
    width: 100%;
    height: 4rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .25s
}

.bottle-nav ul li .previous-arrow {
    text-align: right
}

.bottle-nav ul li .next-arrow {
    text-align: left;
    padding: 1.75rem 1rem 1rem 0rem
}

.bottle-nav ul li .next-arrow:before {
    transform: scaleX(-1);
    left: 0
}

.bottle-nav ul li .next-arrow:hover:before,
.bottle-nav ul li .next-arrow:focus:before {
    transform: scaleX(-1) scale(1.1)
}

.agegate__modal-blocker {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    position: absolute
}

body.age-gate .verify {
    color: #B29759;
    font-family: "Horizontes Script";
    font-size: 2rem;
    text-align: center;
    line-height: .9;
    margin-bottom: 1.5rem
}

.modal__body {
    margin: auto;
    width: 90%;
    max-width: 31.25rem;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}

.modal-content-outer {
    background: url("../assets/img/elements/red-black-box.svg") no-repeat;
    background-size: 100%;
    padding: 2.5rem 1.5rem;
    text-align: center
}

.modal-content-outer .modal-content-inner {
    position: relative
}

.modal-content-outer .modal-content-inner:before,
.modal-content-outer .modal-content-inner:after {
    content: '';
    background: url("../assets/img/elements/filigree-border.svg") no-repeat;
    background-size: contain;
    width: 8rem;
    height: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -2rem
}

.modal-content-outer .modal-content-inner:after {
    top: auto;
    bottom: -2rem;
    transform: scaleY(-1)
}

.modal-content-outer .modal-content-inner p {
    font-family: "Neutra Text", Helvetica, Arial, Verdana, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #B29759
}

.modal-content-outer .modal-content-inner .modal__action-list-items {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem
}

.modal-content-outer .modal-content-inner .modal__action-list-items li:after {
    content: '';
    width: 2px;
    height: 5rem;
    background: #B29759;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1rem
}

.modal-content-outer .modal-content-inner .modal__action-list-items li .modal-btn {
    color: #B29759;
    font-family: "Coliseum Pro", Arial Narrow;
    font-size: 5rem;
    text-transform: uppercase;
    padding: 0 1.5rem;
    background: none;
    border: none;
    text-decoration: none;
    display: inline-block;
    line-height: .9;
    vertical-align: middle;
    position: relative
}

.modal-content-outer .modal-content-inner .modal__action-list-items li .modal-btn:focus:after,
.modal-content-outer .modal-content-inner .modal__action-list-items li .modal-btn:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 3rem);
    height: 2px;
    display: block;
    background: #B29759
}

.modal-content-outer .modal-content-inner .modal__action-list-items li:last-of-type:after {
    display: none
}

@media (min-width: 30rem) {
    .modal-content-outer {
        padding: 4rem 1.5rem
    }

    .modal-content-outer .modal-content-inner:before,
    .modal-content-outer .modal-content-inner:after {
        width: 10rem
    }

    .modal-content-outer .modal-content-inner:before {
        top: -3rem
    }

    .modal-content-outer .modal-content-inner:after {
        bottom: -3rem
    }

    .modal-content-outer .modal-content-inner p {
        font-size: 1.5rem
    }

    .modal-content-outer .modal-content-inner .modal__action-list-items li .modal-btn {
        font-size: 8rem
    }

    .modal-content-outer .modal-content-inner .modal__action-list-items li:after {
        height: 8rem
    }
}

.cookie-banner {
    margin-top: 4rem
}

.cookiebanner-inner {
    background: #000;
    padding: 1.5rem;
    border-top: 4px solid #B29759;
    position: relative;
    text-align: center;
    color: #B29759
}

.cookiebanner-inner:before {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #B29759;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0
}

.cookiebanner-inner p {
    font-family: "Neutra Text", Helvetica, Arial, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 1.25rem
}

.cookiebanner-inner .actions {
    display: flex;
    justify-content: center
}

.cookiebanner-inner .actions button {
    color: #B29759;
    font-family: "Coliseum Pro", Arial Narrow;
    font-size: 1.5rem;
    line-height: 1;
    background: transparent;
    border: 1px solid #B29759;
    outline: 0;
    padding: .6rem 3rem;
    width: 45%
}

@media (min-width: 37.5rem) {
    .cookiebanner-inner .actions button {
        width: auto
    }
}

.cookiebanner-inner .actions button:first-of-type {
    margin-right: 1rem
}

.cookiebanner-inner .actions button:hover,
.cookiebanner-inner .actions button:focus {
    background: #B29759;
    color: #000
}

@media (min-width: 37.5rem) {

    .cookiebanner-inner .content,
    .cookiebanner-inner .actions {
        display: inline-block
    }

    .cookiebanner-inner .content {
        margin-right: 1.5rem
    }
}

@media (min-width: 43.75rem) {
    .page-expressions .page-header {
        margin-bottom: -6.25rem !important
    }
}

@media (min-width: 48rem) {
    .expression-details {
        margin-top: 6.25rem
    }
}

.tsm-bottle-viewer {
    background: url("../assets/img/elements/TSM-frame.svg") no-repeat 50% 37%;
    background-size: 80%;
    text-align: center;
    position: relative
}

.tsm-bottle-viewer .hand-top {
    display: inline-block;
    position: relative
}

.tsm-bottle-viewer .hand-top:before,
.tsm-bottle-viewer .hand-top:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 10
}

.tsm-bottle-viewer .hand-top:before {
    background: url("../assets/img/photos/hand-top-left.png") no-repeat;
    background-size: contain;
    width: 14px;
    height: 73px;
    left: 0px;
    top: 139px;
    transform: rotate(-3deg)
}

.tsm-bottle-viewer .hand-top:after {
    background: url("../assets/img/photos/hand-top-right.png") no-repeat;
    background-size: contain;
    width: 57px;
    height: 126px;
    right: -43px;
    top: 155px
}

.tsm-bottle-viewer .hand-top img {
    position: relative;
    z-index: 20
}

.tsm-bottle-viewer .hand-bottom {
    position: relative
}

.tsm-bottle-viewer .hand-bottom:before,
.tsm-bottle-viewer .hand-bottom:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 30
}

.tsm-bottle-viewer .hand-bottom:before {
    background: url("../assets/img/photos/hand-bottom-fingers.png") no-repeat;
    background-size: contain;
    width: 41px;
    height: 53px;
    left: 4px;
    bottom: -5px;
    transform: rotate(-9deg)
}

.tsm-bottle-viewer .hand-bottom:after {
    background: url("../assets/img/photos/hand-bottom-palm.png") no-repeat;
    background-size: contain;
    width: 143px;
    height: 68px;
    right: -57px;
    bottom: -32px
}

@media (min-width: 31.25rem) {
    .tsm-bottle-viewer {
        background-size: 60%
    }
}

@media (min-width: 43.75rem) {
    .tsm-bottle-viewer {
        background-size: 75%;
        background-position: center center;
        margin-bottom: 4rem !important
    }

    .tsm-bottle-viewer .hand-top:before {
        width: 27px;
        height: 140px;
        left: -1px;
        top: 277px
    }

    .tsm-bottle-viewer .hand-top:after {
        width: 117px;
        height: 247px;
        right: -88px;
        top: 317px
    }

    .tsm-bottle-viewer .hand-bottom:before {
        width: 113px;
        height: 108px;
        left: 4px;
        bottom: -12px
    }

    .tsm-bottle-viewer .hand-bottom:after {
        width: 284px;
        height: 138px;
        right: -114px;
        bottom: -72px
    }
}

@media (min-width: 62rem) {
    .tsm-bottle-viewer {
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto
    }
}

.tsm-bottle-viewer .bottle-nav {
    margin-top: 2.5rem
}

.tsm-bottle-viewer .bottle-indicator {
    font-size: 1.5rem;
    font-family: "Coliseum Pro", Arial Narrow;
    position: absolute;
    bottom: 0;
    left: calc(50% - .5rem);
    color: #882335;
    display: inline-block
}

@media (min-width: 36rem) {
    .tsm-bottle-viewer .bottle-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto
    }

    .tsm-bottle-viewer .bottle-nav ul li:first-of-type {
        margin-right: 13rem
    }

    .tsm-bottle-viewer .bottle-indicator {
        font-size: 2rem;
        bottom: 0;
        left: 25%;
        margin-bottom: 0
    }
}

@media (min-width: 43.75rem) {
    .tsm-bottle-viewer .bottle-nav ul li {
        width: 8rem
    }

    .tsm-bottle-viewer .bottle-nav ul li:first-of-type {
        margin-right: 18rem
    }

    .tsm-bottle-viewer .bottle-nav ul li a {
        font-size: 1.75rem
    }

    .tsm-bottle-viewer .bottle-indicator {
        bottom: 5rem
    }
}

@media (min-width: 62rem) {
    .tsm-bottle-viewer {
        background-position: 50% 15%
    }

    .tsm-bottle-viewer .bottle-nav {
        top: 18%
    }

    .tsm-bottle-viewer .bottle-indicator {
        bottom: auto;
        top: 38rem
    }
}

.expression-details-awards {
    padding: 0 !important
}

.expression-details {
    background: url("../assets/img/photos/expression-texture-m.jpg") no-repeat top right;
    background-size: cover;
    color: #fff;
    padding-bottom: 11rem !important
}

.expression-details img {
    max-width: 18.75rem;
    margin-bottom: 1rem
}

.expression-details h2,
.expression-details h3,
.expression-details h4,
.expression-details .page-article .article-body h3,
.page-article .article-body .expression-details h3 {
    color: #B29759
}

.expression-details h2 {
    margin-bottom: 1.5rem
}

.expression-details h3 {
    text-transform: none;
    font-family: "Neutra Text", Helvetica, Arial, Verdana, sans-serif;
    font-size: 1.35rem
}

@media (min-width: 20rem) and (max-width: 75rem) {
    .expression-details h3 {
        font-size: calc(1.35rem + (1.7 - 1.35) * ((100vw - 20rem) / (75 - 20)))
    }
}

@media (min-width: 75rem) {
    .expression-details h3 {
        font-size: 1.7rem
    }
}

.expression-details .cask-details {
    font-size: 1rem;
    margin-top: 0
}

@media (min-width: 20rem) and (max-width: 75rem) {
    .expression-details .cask-details {
        font-size: calc(1rem + (1.25 - 1) * ((100vw - 20rem) / (75 - 20)))
    }
}

@media (min-width: 75rem) {
    .expression-details .cask-details {
        font-size: 1.25rem
    }
}

.expression-details h4,
.expression-details .page-article .article-body h3,
.page-article .article-body .expression-details h3 {
    font-weight: normal;
    font-size: 1.15rem
}

@media (min-width: 20rem) and (max-width: 75rem) {

    .expression-details h4,
    .expression-details .page-article .article-body h3,
    .page-article .article-body .expression-details h3 {
        font-size: calc(1.15rem + (1.5 - 1.15) * ((100vw - 20rem) / (75 - 20)))
    }
}

@media (min-width: 75rem) {

    .expression-details h4,
    .expression-details .page-article .article-body h3,
    .page-article .article-body .expression-details h3 {
        font-size: 1.5rem
    }
}

@media (min-width: 37.5rem) {
    .expression-details {
        background: url("../assets/img/photos/expression-texture-2x.jpg") no-repeat top right;
        background-size: cover
    }
}

@media (min-width: 62rem) {
    .expression-details {
        margin-top: 6rem !important
    }
}

.awards {
    margin-top: -8rem
}

.awards h3 {
    color: #B29759;
    margin-bottom: 1rem
}

.awards .awards-container {
    margin-bottom: 1.5rem
}

.awards img {
    width: 8.5rem;
    height: 8.5rem;
    display: inline-block;
    margin-right: .5rem
}

.awards img:last-of-type {
    margin-right: 0
}

.awards .awards-list {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem
}

.awards .awards-list li {
    padding-left: 1.5rem;
    position: relative
}

.awards .awards-list li:before {
    content: "";
    font-family: "tsm-icons";
    font-size: .9rem;
    position: absolute;
    left: 0;
    top: 0
}

.awards .awards-list .gold-award:before {
    color: #B29759
}

.awards .awards-list .silver-award:before {
    color: #676069
}

.awards .awards-list .bronze-award:before {
    color: #8c4e20
}

.awards .awards-list .other-award:before {
    color: #882335
}

@media (min-width: 62rem) {
    .page-expressions .page-footer {
        position: relative
    }

    .page-expressions .page-footer:after {
        content: '';
        background: url("../assets/img/elements/horse-gold.svg") no-repeat;
        background-size: contain;
        width: 20rem;
        height: 20rem;
        position: absolute;
        top: -30rem;
        left: 20%
    }
}

@media (min-width: 56.25rem) {
    .page-expressions .page-main {
        position: relative
    }

    .page-expressions .page-main:before {
        content: '';
        width: 15%;
        height: 25rem;
        background: url("../assets/img/photos/maroon-block.jpg") no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        left: 0rem;
        bottom: 10rem
    }
}

@media (min-width: 62rem) {
    .page-expressions .page-main:before {
        width: 25%;
        bottom: 33rem
    }

    .expression-details-awards {
        position: relative
    }

    .expression-details-awards:after {
        content: '';
        display: block;
        width: 26rem;
        height: 20rem;
        background: url("../assets/img/photos/expression_FPO.png") no-repeat;
        background-size: contain;
        position: absolute;
        left: -28rem;
        top: 47%
    }
}

@media (min-width: 81.25rem) {
    .expression-details-awards:after {
        width: 32rem;
        height: 24rem;
        left: -35rem
    }
}

.latest-releases-header {
    background: url(../assets/img/photos/pr-header-m.jpg) no-repeat top left;
    background-size: cover;
    padding: 4rem 1rem 6rem 1rem;
    position: relative;
    margin-bottom: 2rem
}

.latest-releases-header h2 {
    color: #B29759
}

.latest-releases-header:after {
    content: '';
    background: url(../assets/img/photos/pr-bottle-frame.png) no-repeat;
    background-size: contain;
    width: 14rem;
    height: 17rem;
    display: block;
    position: absolute;
    bottom: -5rem;
    right: -1rem
}

@media (min-width: 37.5rem) {
    .latest-releases-header {
        background: url(../assets/img/photos/pr-header.jpg) no-repeat top left;
        background-size: cover;
        padding: 5rem 1rem 7rem .25rem
    }

    .latest-releases-header:after {
        width: 17rem;
        height: 20rem;
        bottom: -5.5rem;
        right: -1.5rem
    }
}

@media (min-width: 48rem) {
    .latest-releases-header {
        padding: 6rem 1rem 9rem 1rem
    }

    .latest-releases-header:after {
        width: 29rem;
        height: 35rem;
        bottom: -16.6rem;
        right: -2rem
    }
}

@media (min-width: 75rem) {
    .latest-releases-header {
        background: url("../assets/img/photos/pr-header-2x.jpg") no-repeat top left;
        background-size: cover
    }
}

.page-press-release .press-media {
    padding: 1rem 0
}

.page-press-release .article-body {
    margin-top: 3rem
}

@media (min-width: 48rem) {
    .page-press-release .article-body {
        margin-top: 0
    }
}

.page-press-release .article-body h3 {
    margin-bottom: 0
}

.page-press-release .article-body h4,
.page-press-release .page-article .article-body h3,
.page-article .page-press-release .article-body h3 {
    font-weight: normal;
    font-style: italic
}

@media (min-width: 48rem) {
    .page-press-release .page-main {
        position: relative
    }

    .page-press-release .page-main:before {
        content: '';
        width: 15%;
        height: 15rem;
        background: url("../assets/img/photos/black-block.jpg") no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        right: 0rem;
        top: 43rem
    }

    .press-media {
        position: relative
    }

    .press-media:after {
        content: '';
        background: url(../assets/img/elements/shield-gold.svg) no-repeat;
        background-size: contain;
        width: 12rem;
        height: 13rem;
        position: absolute;
        bottom: 15%;
        right: 0
    }
}

@media (min-width: 56.25rem) {
    .press-media:after {
        right: 3rem
    }

    .page-press-release .page-main:before {
        width: 12%;
        height: 15rem
    }
}

@media (min-width: 75rem) {
    .press-media:after {
        right: 7rem;
        width: 15rem;
        height: 16rem
    }

    .page-press-release .page-main:before {
        width: 18%
    }
}

.page-article .article-body {
    max-width: 43.75rem;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3rem
}

.page-article .article-body h2 {
    font-size: 2.15rem
}

@media (min-width: 20rem) and (max-width: 75rem) {
    .page-article .article-body h2 {
        font-size: calc(2.15rem + (2.75 - 2.15) * ((100vw - 20rem) / (75 - 20)))
    }
}

@media (min-width: 75rem) {
    .page-article .article-body h2 {
        font-size: 2.75rem
    }
}

.page-article .article-body h2:after {
    display: none
}

.page-article .article-body h3 {
    text-transform: none;
    font-style: italic;
    font-weight: normal
}

.page-news .news-listings {
    max-width: 50rem
}

.page-news h2 {
    margin-bottom: 1.5rem
}

.page-news .listing .date,
.page-news .listing .button-container-primary {
    margin-bottom: 0
}

.page-news .listing .headline {
    color: #882335;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 0;
    font-family: "Neutra Text", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none
}

.page-news .pagination {
    text-align: center;
    display: block;
    margin: 1.5rem 0;
    font-size: 1.25rem
}

.page-news .pagination a {
    text-decoration: none;
    border-bottom: 2px solid #882335;
    margin-right: .5rem;
    padding: .25rem
}

.page-news .pagination a:hover,
.page-news .pagination a:focus {
    border-bottom: 0
}

.page-news .pagination .current {
    margin-right: .5rem
}

.page-news .pagination .page-numbers {
    display: inline-block
}

.page-news .pagination .previous,
.page-news .pagination .next {
    position: relative
}

.page-news .pagination .previous:before,
.page-news .pagination .next:before {
    content: "";
    font-family: "tsm-icons";
    font-size: .9rem;
    color: #882335;
    position: absolute;
    line-height: 1;
    top: 5px;
    left: -1.25rem;
    border-bottom: 0
}

.page-news .pagination .next:before {
    content: "";
    left: auto;
    right: -1.25rem
}

.page-home .home-bottle-viewer {
    position: relative;
    width: 100%;
    overflow: hidden
}

.page-home .home-bottle-viewer .bottle-viewer-container {
    padding: 3rem 0 100%;
    position: relative;
    max-width: 31.25rem;
    margin: auto
}

@media (min-width: 37.5rem) {
    .page-home .home-bottle-viewer .bottle-viewer-container {
        padding: 3rem 0 33rem
    }
}

.page-home .home-bottle-viewer .tsm-logo {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%)
}

.page-home .home-bottle-viewer .bottle-primary {
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    top: 50%;
    transform: translateY(-50%)
}

.page-home .home-bottle-viewer .bottle-secondary {
    z-index: 5;
    position: absolute;
    left: -1rem;
    width: 20%;
    top: 50%;
    transform: translateY(-50%)
}

.page-home .home-bottle-viewer .bottle-right {
    left: auto;
    right: -1rem
}

.page-home .home-bottle-viewer .current-bottle-details {
    margin: 1rem auto;
    max-width: 18.75rem;
    text-align: center;
    font-size: 1rem
}

.page-home .home-bottle-viewer .current-bottle-details .bottle-name {
    font-weight: bold;
    margin-bottom: 0
}

.page-home .home-bottle-viewer .current-bottle-details .bottle-details {
    margin-bottom: .5rem;
    margin-top: 0
}

.page-home .home-bottle-viewer .current-bottle-details .bottle-link {
    color: #000
}

.page-home .home-bottle-viewer .bottle-indicator {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 0;
    margin: auto
}

@media (min-width: 48rem) {
    .page-home .home-bottle-viewer .current-bottle-details {
        text-align: right;
        position: absolute;
        top: -2rem;
        left: 2rem;
        z-index: 40;
        margin: 0
    }

    .page-home .home-bottle-viewer .bottle-secondary {
        left: 0
    }

    .page-home .home-bottle-viewer .bottle-right {
        left: auto;
        right: 0
    }

    .page-home .home-bottle-viewer .bottle-indicator {
        position: absolute;
        top: 2rem;
        right: 35%
    }

    .page-home .home-bottle-viewer .bottle-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        width: 96%;
        max-width: 50rem
    }

    .page-home .home-bottle-viewer .bottle-nav ul {
        justify-content: space-between
    }
}

@media (min-width: 68.75rem) {
    .page-home .home-bottle-viewer {
        margin-top: -9rem
    }

    .page-home .home-bottle-viewer .bottle-viewer-container {
        max-width: 48.75rem;
        padding: 0 0 54rem
    }

    .page-home .home-bottle-viewer .bottle-indicator {
        top: 6rem;
        right: 19rem
    }

    .page-home .home-bottle-viewer .current-bottle-details {
        top: 5rem;
        left: 7rem
    }

    .page-home .home-bottle-viewer .bottle-secondary {
        left: -2.5rem;
        top: 54%
    }

    .page-home .home-bottle-viewer .bottle-right {
        right: -2.5rem;
        left: auto
    }

    .page-home .home-bottle-viewer .bottle-nav {
        left: -4rem;
        width: 113%;
        max-width: 68.75rem
    }

    .page-home .home-bottle-viewer .bottle-nav ul {
        justify-content: space-between
    }
}

@media (min-width: 75rem) {
    .page-home .home-bottle-viewer .current-bottle-details {
        left: 13rem
    }

    .page-home .home-bottle-viewer .bottle-indicator {
        right: 27rem
    }

    .page-home .home-bottle-viewer .bottle-nav {
        left: 0
    }
}

.page-home .arrow-spinner {
    text-align: center;
    margin: 0 0 2rem
}

.page-home .arrow-spinner img {
    max-width: 11rem
}

@media (min-width: 48rem) {
    .page-home .arrow-spinner {
        margin: 3rem 0 4rem
    }
}

@media (min-width: 68.75rem) {
    .page-home .arrow-spinner {
        margin: 5rem 0 8rem
    }
}

.page-home .row {
    margin-bottom: 3rem
}

.page-home .page-header .row {
    margin-bottom: 0
}

.page-home h2,
.page-home h3,
.page-home p,
.page-home .text-button-container {
    max-width: 31.25rem
}

.page-home .img-full {
    margin-bottom: 1rem
}

.page-home .img-half {
    margin-bottom: 4rem
}

.page-home .img-half img {
    width: 15rem
}

@media (min-width: 31.25rem) {
    .page-home .img-half img {
        width: 20rem
    }
}

@media (min-width: 48rem) {
    .page-home .img-half img {
        width: auto
    }
}

.page-home img {
    display: block;
    margin: auto;
    max-width: 100%
}

.page-home .red-gold-text-container {
    margin-bottom: 1.5rem
}

.page-home .img-text-stack h3 {
    margin-bottom: 0
}

.page-home .img-text-stack img {
    margin-bottom: 1.5rem;
    max-width: 30rem
}

.page-home .align-left,
.page-home .align-right {
    margin: auto
}

.page-home .align-left h2,
.page-home .align-left h3,
.page-home .align-left p,
.page-home .align-right h2,
.page-home .align-right h3,
.page-home .align-right p {
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 48rem) {
    .page-home .align-left {
        margin: 0;
        margin-right: auto
    }

    .page-home .align-left h2,
    .page-home .align-left h3,
    .page-home .align-left p {
        margin-left: 0;
        margin-right: auto
    }

    .page-home .align-right {
        margin: 0;
        margin-left: auto
    }

    .page-home .align-right h2,
    .page-home .align-right h3,
    .page-home .align-right p {
        margin-right: 0;
        margin-left: auto
    }

    .page-home .staggered-content {
        margin-top: 6rem
    }

    .page-home .red-gold-text-container {
        margin-top: -6rem
    }

    .page-home .img-text-stack img {
        margin-bottom: 2rem
    }

    .page-home .maroon-block {
        position: relative
    }

    .page-home .maroon-block:before {
        content: '';
        z-index: -1;
        display: block;
        background: url("../assets/img/photos/maroon-block-vertical.jpg") no-repeat;
        background-size: cover;
        width: 15%;
        height: 40rem;
        position: absolute;
        top: 0;
        right: 0
    }

    .page-home .maroon-left:before {
        right: auto;
        left: 0
    }

    .page-home .black-block {
        position: relative
    }

    .page-home .black-block:before {
        content: '';
        z-index: -1;
        display: block;
        background: url("../assets/img/photos/black-block.jpg") no-repeat;
        background-size: cover;
        width: 25%;
        height: 20rem;
        position: absolute;
        bottom: 5rem;
        left: 0
    }
}

@media (min-width: 62.5rem) {
    .page-home .red-gold-text-container {
        margin-top: -15rem;
        margin-right: 5rem;
        margin-left: auto
    }

    .page-home .maroon-block:before {
        width: 24%;
        top: 10rem;
        height: 60rem
    }

    .page-home .maroon-left:before {
        height: 40rem
    }

    .page-home .black-block:before {
        width: 35%;
        height: 30rem
    }
}