$icomoon-font-family: "tsm-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-down: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-up: "\e903";
$icon-arrowhead-down: "\e904";
$icon-arrowhead-left: "\e905";
$icon-arrowhead-right: "\e906";
$icon-arrowhead-up: "\e907";
$icon-clover: "\e908";
$icon-plus: "\ea0a";
$icon-cancel-circle: "\ea0d";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-checkmark2: "\ea11";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked: "\ea54";
$icon-radio-checked2: "\ea55";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";

