.bcg-parallax {
    padding: 150px 0;
    color: white;
    background-color: black;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.bcg {
    background: url('../../assets/img/photos/taylor-bottle-bg.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: 140%;
    top: 0;
    z-index: 1;
    opacity: .7;
    position: absolute;
}

.fcg {
    background: url('../../assets/img/photos/taylor-bottle-fg.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: 140%;
    top: 30px;
    z-index: 1;
    opacity: .7;
    position: absolute;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
}
