//bottle nav base styles. page-specific positioning styles on page partials for 600px+. different on home page than expressions. 
.bottle-nav {
        position: relative;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            li {
                width: 7rem;
                &:first-of-type {
                    margin-right: 2.5rem;
                }
                a {
                    color: $c-black;
                    font-family: $f-coliseum;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 1.75rem 0rem .5rem 1rem;
                    display: block;
                    width: 100%;
                    position: relative;
                    transition: all .25s;
                    &:hover, &:focus {
                        color: $c-maroon;
                        &:before {
                            background: url("../assets/img/elements/nav-arrow-hover.svg") no-repeat;
                            background-size: 120%;
                            transform: scale(1.1);
                        }
                    }
                }
                .previous-arrow, .next-arrow {
                   &:before {
                        content: '';
                        background: url("../assets/img/elements/nav-arrow.svg") no-repeat;
                        background-size: 120%;
                        width: 100%;
                        height: 4rem;
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transition: all .25s;
                    }
                }
                .previous-arrow {
                    text-align: right;
                    
                }
                .next-arrow {
                    text-align: left;
                    padding: 1.75rem 1rem 1rem 0rem;
                    &:before {
                        transform: scaleX(-1);
                        left: 0;
                    }
                    &:hover, &:focus {
                        &:before {
                            transform:  scaleX(-1) scale(1.1);
                        }
                    }
                }
            }
        }
    }